USE [master]
GO
/****** Object:  Database [CUN]    Script Date: 10/08/2022 4:52:15 p. m. ******/
CREATE DATABASE [CUN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CUN', FILENAME = N'F:\CUN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CUN_log', FILENAME = N'F:\CUN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CUN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CUN]
GO
/****** Object:  Table [dbo].[Administrador]    Script Date: 10/08/2022 4:52:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrador](
	[Adm_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Adm_Nombre] [varchar](250) NOT NULL,
	[Adm_Apellido] [varchar](250) NOT NULL,
	[Adm_Email] [text] NOT NULL,
	[Adm_Password] [text] NOT NULL,
 CONSTRAINT [PK_Administrador] PRIMARY KEY CLUSTERED 
(
	[Adm_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 10/08/2022 4:52:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso](
	[Cur_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Mat_ID] [bigint] NOT NULL,
	[Est_ID] [bigint] NOT NULL,
	[Doc_ID] [bigint] NOT NULL,
 CONSTRAINT [PK_Curso] PRIMARY KEY CLUSTERED 
(
	[Cur_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Docente]    Script Date: 10/08/2022 4:52:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Docente](
	[Doc_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Doc_Nombre] [varchar](250) NOT NULL,
	[Doc_Apellido] [varchar](250) NOT NULL,
	[Doc_Email] [text] NOT NULL,
	[Doc_Password] [text] NOT NULL,
 CONSTRAINT [PK_Docente] PRIMARY KEY CLUSTERED 
(
	[Doc_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiante]    Script Date: 10/08/2022 4:52:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiante](
	[Est_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Est_Nombre] [varchar](250) NOT NULL,
	[Est_Apellido] [varchar](250) NOT NULL,
	[Est_Email] [text] NOT NULL,
	[Est_Password] [text] NOT NULL,
 CONSTRAINT [PK_Estudiante] PRIMARY KEY CLUSTERED 
(
	[Est_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 10/08/2022 4:52:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[Mat_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Mat_Nombre] [varchar](250) NOT NULL,
	[Mat_Descripcion] [text] NOT NULL,
 CONSTRAINT [PK_Materia] PRIMARY KEY CLUSTERED 
(
	[Mat_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Administrador] ON 

INSERT [dbo].[Administrador] ([Adm_ID], [Adm_Nombre], [Adm_Apellido], [Adm_Email], [Adm_Password]) VALUES (1, N'Brian', N'Cañon', N'canonbrian123@gmail.com', N'123456')
SET IDENTITY_INSERT [dbo].[Administrador] OFF
GO
SET IDENTITY_INSERT [dbo].[Estudiante] ON 

INSERT [dbo].[Estudiante] ([Est_ID], [Est_Nombre], [Est_Apellido], [Est_Email], [Est_Password]) VALUES (1, N'Juanito', N'Perez', N'juan@mail.com', N'123456')
SET IDENTITY_INSERT [dbo].[Estudiante] OFF
GO
/****** Object:  Index [Doc_Curso]    Script Date: 10/08/2022 4:52:15 p. m. ******/
CREATE NONCLUSTERED INDEX [Doc_Curso] ON [dbo].[Curso]
(
	[Doc_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Est_Curso]    Script Date: 10/08/2022 4:52:15 p. m. ******/
CREATE NONCLUSTERED INDEX [Est_Curso] ON [dbo].[Curso]
(
	[Est_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Mat_Curso]    Script Date: 10/08/2022 4:52:15 p. m. ******/
CREATE NONCLUSTERED INDEX [Mat_Curso] ON [dbo].[Curso]
(
	[Mat_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Docente] FOREIGN KEY([Doc_ID])
REFERENCES [dbo].[Docente] ([Doc_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_Curso_Docente]
GO
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Estudiante] FOREIGN KEY([Est_ID])
REFERENCES [dbo].[Estudiante] ([Est_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_Curso_Estudiante]
GO
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Materia] FOREIGN KEY([Mat_ID])
REFERENCES [dbo].[Materia] ([Mat_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_Curso_Materia]
GO
USE [master]
GO
