
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

<h2>Inicia sesión</h2>
<form class="form" method="post" action="@Url.Content("~/Login/Login")">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <label for="username" class="form-label">Usuario</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Ingresa tu usuario">
            </div>
            <div class="col-md-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu contraseña">
            </div>

        </div>
    </div>
    <br />
    <div class="container center-block">
        <button class="btn btn-success fas-fa-sig-in" onclick="login()"><i class="fas fa-sign-in-alt"></i> Iniciar sesión</button>
    </div>
</form>
